<div>
    <h3>Please upload a har file.</h3>
    <form>
      <input type="file" name="myInputFile" value="Input file value" (change)="onFileSelected($event)">      
    </form>
    <br>
</div>

<div>
  <table id="pageEntryMetric" *ngIf="harLog">
    <tr>
      <th>Metrics</th>
      <th>Total Time</th>
      <th>Average Time</th>
    </tr>
    <tr id="contentLoadTime">
        <td><button type="button" (click)="calcPageContentLoadTime()">Content Load Time (ms)</button></td>
        <td><input type="text" [value]="totalPageContentLoadTime" readonly="readonly"></td>
        <td><input type="text" [value]="avgPageContentLoadTime" readonly="readonly"></td>
    </tr>
    <tr id="pageLoadTime">
        <td><button type="button" (click)="calcPageLoadTime()">Page Load Time (ms)</button></td>
        <td><input type="text" [value]="totalPageLoadTime" readonly="readonly"></td>
        <td><input type="text" [value]="avgPageLoadTime" readonly="readonly"></td>
    </tr>
    <tr id="entryTime">
      <td><button type="button" (click)="calcEntryTime()">Entry Time (ms)</button></td>
      <td><input type="text" [value]="totalEntryTime" readonly="readonly"></td>
      <td><input type="text" [value]="averageEntryTime" readonly="readonly"></td>
    </tr>
    <tr id="rqstSendTime">
      <td><button type="button" (click)="calcRequestSendTime()">Request Send Time (ms)</button></td>
      <td><input type="text" [value]="totalRqstSendTime" readonly="readonly"></td>
      <td><input type="text" [value]="averageRqstSendTime" readonly="readonly"></td>
    </tr>
    <tr id="rqstWaitTime">
      <td><button type="button" (click)="calcWaitTime()">Request Waiting Time (ms)</button></td>
      <td><input type="text" [value]="totalRqstSendTime" readonly="readonly"></td>
      <td><input type="text" [value]="averageRqstWaitTime" readonly="readonly"></td>
    </tr>
    <tr id="blockTime">
        <td><button type="button" (click)="calcBlockTime()">Connection Block Time (ms)</button></td>
        <td><input type="text" [value]="totalBlockTime" readonly="readonly"></td>
        <td><input type="text" [value]="averageBlockTime" readonly="readonly"></td>
    </tr>
    <tr id="dnsTime">
        <td><button type="button" (click)="calcDnsTime()">DNS Resolution time (ms)</button></td>
        <td><input type="text" [value]="totalDnsTime" readonly="readonly"></td>
        <td><input type="text" [value]="averageDnsTime" readonly="readonly"></td>
    </tr>
    <tr id="sslTime">
        <td><button type="button" (click)="calcSslTime()">SSL/TLS Negotiation (ms)</button></td>
        <td><input type="text" [value]="totalSslTime" *ngIf=" totalSslTime > 0" readonly="readonly"></td>
        <td><input type="text" [value]="averageSslTime" *ngIf=" averageSslTime > 0" readonly="readonly"></td>
    </tr>    
    <tr id="connTime">
        <td><button type="button" (click)="calcConnectTime()">TCP Connection Time (ms)</button></td>
        <td><input type="text" [value]="totalConnectTime" readonly="readonly"></td>
        <td><input type="text" [value]="averageConnectTime" readonly="readonly"></td>
    </tr>

  </table>

  <table *ngIf="harLog">
    <tr>
      <th>Metrics</th>
      <th>Calculation</th>
    </tr>
    <tr>
      <td><button type="button" (click)="calcTotalResponseTime()">Total Response Time (ms)</button></td>
      <td><input type="text" [value]="totalRspTime" readonly="readonly"></td>
    </tr>    
    <tr>
        <td><button type="button" (click)="calcTotalUrLRedirect()">Total URL Redirect Count</button></td>
        <td><input type="text" [value]="totalUrlRedirect" readonly="readonly"></td>
    </tr>

  </table> 
</div>

<div style="text-align:left;width:500px;" *ngIf="harLog">
  <h3>
      <span>{{"HAR log version = " + harLog.version + "; creator.name = " + harLog.creator.name + ". creator.version = " + harLog.creator.version}}</span><br>
      <span>{{ "total pages: " + harLog.pages.length }}</span>
  </h3>

  <table *ngIf="harLog.pages">
      <tr>
          <th>startedDateTime</th>
          <th>ID</th>
          <th>Title</th>
          <th>ContentLoadTime</th>
          <th>TotalLoadTime</th>
      </tr>
      <tr *ngFor="let page of harLog.pages">
          <td>{{page.startedDateTime}}</td>
          <td>{{page.id}}</td>
          <td>{{page.title}}</td>
          <td>{{page.pageTimings.onContentLoad}}</td>
          <td>{{page.pageTimings.onLoad}}</td>
      </tr>
  </table>

  <h3>
    <span>{{ "Total entries: " + harLog.entries.length }}</span>
  </h3>

  <table *ngIf="harLog.entries">
    <tr>
      <th>Start Time</th>
      <th>Total Time</th>
      <th>Request Method</th>
      <th>Response Status</th>
      <th>Blocked</th>
      <th>Dns</th>
      <th>Ssl</th>
      <th>Connect</th>
      <th>Send</th>
      <th>Wait</th>
      <th>Receive</th>
      <th>Blocked Que</th>
    </tr>
    <tr *ngFor="let entry of harLog.entries">
      <td>{{entry.startedDateTime}}</td>
      <td>{{entry.time}}</td>
      <td>{{entry.request.method}}</td>
      <td>{{entry.response.status}}</td>
      <td>{{entry.timings.blocked}}</td>
      <td>{{entry.timings.dns}}</td>
      <td>{{entry.timings.ssl}}</td>
      <td>{{entry.timings.connect}}</td>
      <td>{{entry.timings.send}}</td>
      <td>{{entry.timings.wait}}</td>
      <td>{{entry.timings.receive}}</td>
      <td>{{entry.timings._blocked_queueing}}</td>
    </tr>
  </table>
</div>
